if SHIELD_BEAUDIN_V2_LEFT

# Settings for left side only
config ZMK_KEYBOARD_NAME
    default "Beaudin BT"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

# Settings for either left or right side
if SHIELD_BEAUDIN_V2_LEFT || SHIELD_BEAUDIN_V2_RIGHT

config ZMK_SPLIT
    default y
endif